.slider-component {
    width: 50%;
}

.slider-div {
    background-color: #e9eaee;
    display: flex;
    flex-direction: column;
}

.slider {
    width: 90%;
    margin: auto;
    padding: 1em 0em;
    height: 15px;
    border-radius: 5px;  
    transition: opacity .2s;
  }

  #rangeValue {
    margin: auto;
    font-size: 1.5em;
    padding-top: 0.3em
  }

  
  .slider::-webkit-slider-thumb {
    width: 3em;
    height: 3em;
    border-radius: 50%; 
    cursor: pointer;
  }
  
  