.cell {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .full {
    background-color: #df2536;
    color: white;
  }

  .unavailable {
    background-color:#f6f6f6;
    color: #7f7f7f;
  }

  .available {
    background-color: white;
  }

  .selected {
    background-color: #459d49;
    color: white
  }